/.vs
/bin
/obj
*.cache
Assembly
obj/Debug/net8.0/Biblioteca.AssemblyInfo.cs
obj/Debug/net8.0/Biblioteca.AssemblyInfoInputs.cache
obj/Debug/net8.0/Biblioteca.AssemblyInfo.cs
obj/Debug/net8.0/Biblioteca.AssemblyInfoInputs.cache
obj/Debug/net8.0/Biblioteca.assets.cache
obj/Debug/net8.0/Biblioteca.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Biblioteca.AssemblyInfo.cs
obj/Debug/net8.0/Biblioteca.AssemblyInfoInputs.cache
obj/Debug/net8.0/Biblioteca.assets.cache
obj/Debug/net8.0/Biblioteca.GeneratedMSBuildEditorConfig.editorconfig
